/* mobile first */

/* min-width: 400px */

html {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

body {
  width: 375px;
}

article {
  margin-bottom: 3.5em;
  margin-top: 2em;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 3em;
  padding-left: 3.5em;
  padding-right: 3.5em;
}

h1,
h2 {
  font-size: 3.4em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0.2em;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-weight: 600;
  padding-top: 1em;
}

p {
  font-size: 1.7em;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  width: 18em;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

ul {
  list-style-type: none;
}

/* Classes */

.primary_color {
  color: #36b37e;
}

.secondary_color {
  color: #172b4d;
}

.tertiary_color {
  color: #3a4a42;
}

.btn1 {
  background-color: #36b37e;
  padding: 0.6em 0.8em;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.btn1:hover {
  text-decoration: none;
  color: #fff;
}

.headline {
  align-items: center;
  background-image: url("images/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

.presentation_container {
  margin-top: 5em;
}

.social_icons_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: #505f79;
  padding-left: 0.8em;
  padding-right: 0.8em;
  width: 2em;
}

.li_works {
  padding: 1.2em;
  font-weight: 600;
}

.about_me {
  background-image: url("images/bg-about-me.jpg ");
  background-size: contain;
  background-repeat: no-repeat;
}

.p_about_me {
  width: 90%;
}
